.banner {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  &__slider{
    position: relative;
    .slider__content {
      @include  flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translateX(-50%);
      color: $color-default-lightest;
      line-height: 1.2;
      width: 100%;
      h1 {
        font-size: 62px;
        font-weight: 300;
      }

      h2 {
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 20px;
        span {
          color: $green;
        }
      }

      p {
        position: relative;
        font-size: 18px;
        margin-bottom: 104px;
        &:before, &:after {
          content: "";
          background: $green;
          width: 28px;
          height: 1px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        &:before {
          left: -58px;
        }

        &:after {
          right: -60px;
        }
      }
      .content__icon{
        @include flex;
        justify-content: space-between;
        align-items: center;
        li{
          list-style: none;
          color: $color-icon;
          i {
            padding: 0 8px;
            &:before{
              font-size: 20px;
            }
            &:hover{
              cursor: pointer;
              color: $color-default-lightest;
            }
          }
        }
        .active {
          color: $color-default-lightest;
        }
      }
    }
  }
  &__button{
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    .dot{
      cursor: pointer;
      height: 6px;
      width: 6px;
      border: 1px solid #333b3f;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      &:hover, {
        background-color: $color-default-lightest;
      }
      &:first-child{
        margin-bottom: 15px;
      }
      &:last-child{
        margin-top: 15px;
      }
    }
    .active{
      background-color: $color-default-lightest;
    }
  }
}

@media screen and (max-width: 1440px){
  .banner{
    .slider__content{
      p {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .banner{
    .slider__content{
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    .slider__content {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 32px;
      }
      p {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    .slider__content {
      top: unset;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      h1 {
        font-size: 30px;
        margin-bottom: 0;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
    }
    &__button{
      flex-direction: row;
      top: unset;
      right: 50%;
      bottom: 3%;
      transform: translateX(50%);
      .dot:first-child{
        margin-bottom: 0;
        margin-right: 15px;
      }
      .dot:last-child{
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .banner {
    .slider__content {
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 18px;
      }
      p {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }
}

