.team {
  position: relative;
  margin-bottom: 215px;
  @media #{$info-desktop-md}{
    margin-bottom: 120px;
  }
  @media #{$info-phone} {
    margin-bottom: 40px;
  }

  .mycontainer {
    position: relative;
    @media #{$info-phone}{
      padding-bottom: 40px;
    }

    .team__content {
      @include flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        @include font-size(28px);
        font-weight: 800;
        text-align: center;
        color: $color-success;
        margin-bottom: 15px;
      }

      .team__icon {
        margin-bottom: 30px;
        width: 100%;
        @media #{$info-phone}{
          margin-bottom: 20px;
        }

        img {
          display: block;
          margin: 0 auto;
        }
      }

      p {
        max-width: 970px;
        margin: 0 auto 105px;
        text-align: center;
        @include font-size(18px);
        font-weight: 600;
        @media #{$info-phone}{
          margin-bottom: 40px;
        }
      }
    }

    .team__list {
      display: flex;

      .slick-list {
        padding-bottom: 50px;

      }

      .team__image {
        width: 270px;
        margin: 0 15px 15px;
        position: relative;
        cursor: pointer;
        transition: all .3s ease-in-out;
        @media #{$info-desktop-lg} {
          margin-bottom: 65px;
        }
        @media #{$info-phone}{
          width: auto;
          margin: 0 10px 60px;
        }

        &:first-child {
          margin-left: 0;
        }


        img {
          display: block;
          width: 100%;
          cursor: pointer;
        }

        .team__detail {
          @include flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0%;
          left: 0;
          opacity: 0;
          background: $color-background-content;
          transition: all .3s ease;

          .team__description {
            padding: 0 20px;
            text-align: center;

            p {
              @include font-size(16px);
              color: $color-default-lightest;

              &:first-child {
                font-weight: 700;
                margin-bottom: 10px;
              }

              &:last-child {
                margin-bottom: 65px;
              }
            }
          }

          .team__icons {
            ul {
              display: flex;

              li {
                list-style: none;
                width: 42px;
                height: 42px;
                position: relative;
                background: $color-background-icon;
                margin: 0 2px;

                a {
                  display: block;
                  i {
                    position: absolute;
                    @include center-inside-element;
                    @include font-size(20px);
                    color: $color-default-lightest;
                    transition: all .3s ease;

                    &:hover {
                      opacity: 0.8;
                    }
                  }
                }
              }
            }
          }
        }

        &:hover .team__detail, &:focus .team__detail {
          opacity: 1;
        }

        .team__name {
          position: absolute;
          bottom: -65px;
          left: 50%;
          width: 100%;
          text-align: center;
          transform: translateX(-50%);
          @media #{$info-phone}{
            bottom: -50px;
          }

          h3 {
            a {
              display: inline-block;
              font-size: 18px;
              color: $color-danger;
              font-weight: 600;
              margin-bottom: 5px;
              cursor: pointer;
              transition: all .3s ease;

              &:hover {
                color: $color-success;
              }
            }
          }

          p {
            color: $color-default-darker;
            font-size: 13px;
          }
        }
      }

      .slick-dots {
        bottom: -95px;
        @media #{$info-desktop-md}{
          bottom: -50px;
        }
        @media #{$info-phone}{
          bottom: -20px;
        }

        li:hover {
          background: $color-danger;
        }
      }
    }
  }
}


