.footer{
  width: 100%;
  height: 405px;
  background: $color-footer;
  .container{
    .footer__list{
      color: $color-default-lightest;
      @include flex;
      flex-wrap: wrap;
      .footer__item{
        width: 25%;
        padding: 110px 15px 0;
        &:first-child{
          padding-left: 0;
          .footer__logo{
            margin-bottom: 30px;
          }
          p{
            font-size: 13px;
            line-height: 1.8;
          }
        }
        &:nth-child(2){
          h3{
            font-size: 14px;
            font-weight: 700;
            opacity: 0.8;
            margin-bottom: 40px;
          }
          .footer__sub{
            width: 100%;
            height: 46px;
            border: 2px solid $color-default-lightest;
            border-radius: 3px;
            position: relative;
            margin-bottom: 20px;
            img{
              display: block;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
            }
          }
          p{
            font-size: 13px;
            line-height: 1.8;
          }
        }
        &:nth-child(3){
          h3{
            font-size: 14px;
            font-weight: 700;
            opacity: 0.8;
            margin-bottom: 33px;
          }
          .footer__content{
            @include flex;
            flex-wrap: wrap;
            ul{
              list-style: none;
              width: 50%;
              &:last-child{
                padding-left: 40px;
              }
              li{
                margin-bottom: 12px;
                a{
                  font-size: 13px;
                  color: $color-default-lightest;
                }
              }
            }
          }
        }
        &:last-child{
          padding-right: 0;
          p{
            padding-left: 12px;
            font-size: 13px;
            line-height: 1.8;
            img{
              display: inline-block;
              padding-left: 5px;
              padding-right: 15px;
            }
            &:last-child,span{
              color: $color-danger;
            }
            &:first-child{
              padding-top: 52px;
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer{
    .container{
      .footer__list{
        .footer__item:first-child{
          padding-left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .footer{
    .container{
      .footer__list{
        .footer__item:first-child{
          padding-left: 0;
        }
        .footer__item:last-child{
          p{
            padding-left: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .footer{
    .container{
      .footer__list{
        .footer__item{
          width: 50%;
          padding-top: 20px;
          &:first-child{
            .footer__logo{
              margin-bottom: 20px;
            }
          }
          &:nth-child(2){
            padding-right: 0;
            h3{
              margin-bottom: 30px;
            }
          }
          &:nth-child(3){
            padding-left: 0;
            h3{
              margin-bottom: 30px;
            }
            .footer__content{
              ul:last-child{
                padding-left: 0;
              }
            }
          }
          &:last-child{
            p {
              padding-left: 0;
              &:first-child{
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer{
    height: auto;
    .container{
      .footer__list{
        .footer__item{
          padding-top: 0;
          margin-bottom: 40px;
          width: 100%;
          &:first-child, &:nth-child(3){
            padding-right: 0;
          }
          &:first-child{
            padding-top: 20px;
          }
          &:nth-child(2){
            padding-left: 0;
            h3{
              margin-bottom: 20px;
            }
          }
          &:nth-child(3){
            h3{
              margin-bottom: 20px;
            }
          }
          &:last-child{
            margin-bottom: 0;
            padding-left: 0;
            p:first-child{
              padding-top: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}