.footer{
  width: 100%;
  height: 405px;
  background: $color-footer;
  @media #{$info-phone-vertical} {
    height: auto;
  }
  .mycontainer{
    .footer__list{
      color: $color-default-lightest;
      padding-top: 110px;
      @include flex;
      flex-wrap: wrap;
      @media #{$info-phone} {
        padding-top: 20px;
      }
      .footer__item{
        width: 25%;
        padding: 0 15px;
        @media #{$info-phone} {
          width: 50%;
          margin-bottom: 30px;
        }
        @media #{$info-phone-vertical} {
          margin-top: 0;
          margin-bottom: 40px;
          width: 100%;
        }
        &:first-child{
          padding-left: 0;
          @media #{$info-phone-vertical} {
            padding-right: 0;
          }
          .footer__logo{
            margin-bottom: 30px;
            @media #{$info-phone} {
              margin-bottom: 20px;
            }
          }
          p{
            font-size: 13px;
            line-height: 1.8;
          }
        }
        &:nth-child(2){
          @media #{$info-phone} {
            padding-right: 0;
          }
          @media #{$info-phone-vertical} {
            padding-left: 0;
          }
          h3{
            font-size: 14px;
            font-weight: 700;
            opacity: 0.8;
            margin-bottom: 40px;
            @media #{$info-phone} {
              margin-bottom: 30px;
            }
            @media #{$info-phone-vertical} {
              margin-bottom: 20px;
            }
          }
          .footer__sub{
            position: relative;
            margin-bottom: 20px;
            input{
              width: 100%;
              height: 46px;
              border: 2px solid $color-default-lightest;
              border-radius: 3px;
              background: transparent;
              &:focus{
                outline: none;
              }
            }
            button{
              background: transparent;
              border: none;
              padding: 0 ;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              img{
                display: block;
              }
            }

          }
          p{
            font-size: 13px;
            line-height: 1.8;
          }
        }
        &:nth-child(3){
          @media #{$info-phone} {
            padding-left: 0;
            margin-bottom: 0;
          }
          @media #{$info-phone-vertical} {
            padding-right: 0;
            margin-bottom: 40px;
          }
          h3{
            font-size: 14px;
            font-weight: 700;
            opacity: 0.8;
            margin-bottom: 33px;
            @media #{$info-phone} {
              margin-bottom: 30px;
            }
            @media #{$info-phone-vertical} {
              margin-bottom: 20px;
            }
          }
          .footer__content{
            @include flex;
            flex-wrap: wrap;
            ul{
              list-style: none;
              width: 50%;
              &:last-child{
                padding-left: 40px;
                @media #{$info-phone} {
                  padding-left: 10px;
                }
                @media #{$info-phone-vertical} {
                  padding-left: 0;
                }
              }
              li{
                margin-bottom: 12px;
                a{
                  font-size: 13px;
                  color: $color-default-lightest;
                  transition: all .3s ease;
                  &:hover, &:focus{
                    color: $color-danger;
                    text-decoration: none;
                  }
                }
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        &:last-child{
          padding-right: 0;
          @media #{$info-phone} {
            margin-bottom: 0;
          }
          @media #{$info-phone-vertical} {
            padding-left: 0;
          }
          p{
            padding-left: 12px;
            font-size: 13px;
            line-height: 1.8;
            @media #{$info-desktop-md} {
              padding-left: 25px;
            }
            @media #{$info-phone} {
              padding-left: 0;
            }
            img{
              display: inline-block;
              padding-left: 5px;
              padding-right: 15px;
            }
            &:last-child,span{
              color: $color-danger;
            }
            &:first-child{
              margin: 47px 0 50px 0;
              position: relative;
              @media #{$info-desktop-md}{
                margin-bottom: 30px;
              }
              @media #{$info-phone} {
                margin-bottom: 20px;
                margin-top: 40px;
              }
              @media #{$info-phone-vertical} {
                margin-top: 0;
              }
              &:before{
                content: "";
                position: absolute;
                bottom:4px ;
                left: 0;
                width: 1px;
                height: 39px;
                background: $color-border-left;
                @media #{$info-desktop-md}{
                  bottom: 15px;
                }
                @media #{$info-phone} {
                  left: -12px;
                  bottom: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

