* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.features{
  position: relative;
  background: $color-features;
  width: 100%;
  height: 460px;
  .container {
    h2 {
      font-size: 28px;
      font-weight: 800;
      text-align: center;
      color: $color-success;
      margin-bottom: 15px;
      padding-top: 70px;
    }
    .features__icon{
      margin-bottom: 60px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .features__content{
      @include flex;
      justify-content: space-between;
      align-items: center;
      .features__item{
        @include flex;
        align-items: flex-start;
        padding: 0 30px 0 15px;
        .features__text {
          margin-left: 15px;
          h3{
            color: $color-danger;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
          }
          p {
            font-size: 13px;
          }
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
  &__button{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 54px;
    .dot{
      margin: 0 5px;
    }
    .dot:first-child, .dot:last-child {
      margin-bottom: 0;
    }
    .dot:first-child {
      margin-left: 0;
    }
    .dot:last-child {
      margin-right:0;
    }
    .dot:hover{
      background: $color-danger;
    }
    .active{
      background: $color-danger;
    }
  }
}

.works {
  position: relative;
  .container {
    .works__content{
      @include flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        color: $color-success;
        margin-bottom: 15px;
        padding-top: 90px;
      }
      .works__icon{
        margin-bottom: 30px;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      p {
        max-width: 970px;
        margin: 0 auto 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .works__items{
      ul {
        @include flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-bottom: 40px;
        li {
          margin: 0 5px;
          a{
            display: inline-block;
            border-radius: 6px;
            padding: 5px 20px;
            font-size: 14px;
            font-weight: 700;
            color: $color-default-dark;
            transition: all .3s ease;
            &:hover,&:focus,&.active{
              background: $color-success;
              color: $color-default-lightest;
            }
          }
        }
      }
    }
  }
  .works__list{
    @include flex;
    flex-wrap: wrap;
    .works__image{
      width: 25%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .image {
        display: block;
        width: 100%;
      }
      .works__detail{
        position: relative;
        width: 100%;
        height: 100%;
        transform: translate(-100%, 100%);
        transition: all .3s ease;
        .detail__flow{
          width: 100%;
          height: 100%;
          @include flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: $color-background-hover;
          position: absolute;
          top: 0;
          left: 0;
          .detail__image {
            display: block;
            margin-bottom: 25px;
          }
          p:nth-child(2), p:last-child {
            color: $color-default-lightest;
          }
          p:nth-child(2){
            font-size: 18px;
            font-weight: 700;
            padding: 0 15px;
            text-align: center;
          }
          p:last-child{
            font-size: 14px;
          }
        }
      }
      &:hover .works__detail, &:focus .works__detail{
        transform: translate(0,-100%);
      }
    }
  }
}

.team{
  position: relative;
  margin-bottom: 115px;
  .container {
    position: relative;
    padding-bottom: 150px;
    .team__content {
      @include flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        color: $color-success;
        margin-bottom: 15px;
        padding-top: 90px;
      }
      .team__icon {
        margin-bottom: 30px;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      p {
        max-width: 970px;
        margin: 0 auto 105px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .team__list{
      display: flex;
      .team__image{
        width: 25%;
        margin: 0 15px 15px;
        position: relative;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        img{
          display: block;
          width: 100%;
          cursor: pointer;
        }
        .team__detail{
          @include flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0%;
          left: 0;
          opacity: 0;
          background: $color-background-content;
          transition: all .3s ease;
          .team__description{
            padding: 0 20px;
            text-align: center;
            p{
              font-size: 16px;
              color: $color-default-lightest;
              &:first-child{
                font-weight: 700;
                margin-bottom: 10px;
              }
              &:last-child{
                margin-bottom: 65px;
              }
            }
          }
          .team__icon {
            display: flex;
            li {
              list-style: none;
              width: 42px;
              height: 42px;
              position: relative;
              background: $color-background-icon;
              margin: 0 2px;
              i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: $color-default-lightest;
              }
            }
          }
        }
        &:hover .team__detail, &:focus .team__detail{
          opacity: 1;
        }
        .team__name{
          position: absolute;
          bottom: -65px;
          left: 50%;
          width: 100%;
          text-align: center;
          transform: translateX(-50%);
          h3{
            a {
              display: inline-block;
              font-size: 18px;
              color: $color-danger;
              font-weight: 600;
              margin-bottom: 5px;
              cursor: pointer;
              transition: all .3s ease;
              &:hover{
                color: $color-success;
              }
            }
          }
          p{
            color: $color-default-darker;
            font-size: 13px;
          }
        }
      }
    }

    .team__button{
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: 0;
      .dot{
        margin: 0 5px;
      }
      .dot:first-child, .dot:last-child {
        margin-bottom: 0;
      }
      .dot:first-child {
        margin-left: 0;
      }
      .dot:last-child {
        margin-right:0;
      }
      .dot:hover{
        background: $color-danger;
      }
      .active{
        background: $color-danger;
      }
    }
  }
}

.product{
  position: relative;
  z-index: 2;
  background-image: url("../img/product-5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 600px;
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-background-product;
    z-index: -1;
  }
  .container{
    .product__content{
      position: relative;
      z-index: 3;
      @include flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        color: $color-success;
        margin-bottom: 15px;
        padding-top: 90px;
      }
      .product__icon {
        margin-bottom: 25px;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
    .product__list{
      display: flex;
      justify-content: space-around;
      .product__item{
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        .product__image{
          width: 130px;
          height: 130px;
          position: relative;
          border-radius: 50%;
          border: 2px solid $color-border-big;
          margin-bottom: 30px;
          img{
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
          }
        }
        h3{
          font-size: 60px;
          font-weight: 600;
          color: $color-default-lightest;
        }
        p{
          font-size: 18px;
          color: $color-default-lightest;
          font-weight: 400;
        }
      }
    }
  }
}

.discuss{
  margin-bottom: 100px;
  .container{
    .discuss__content {
      @include flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        color: $color-success;
        margin-bottom: 15px;
        padding-top: 90px;
      }
      .discuss__icon {
        margin-bottom: 30px;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      p {
        max-width: 970px;
        margin: 0 auto 105px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .discuss__list{
      @include flex;
      .discuss__address, .discuss__form, .discuss__info{
        margin: 0 15px;
      }
      .discuss__address{
        margin-left: 0;
        max-width: 270px;
        h4{
          font-size: 22px;
          font-weight: 400;
          margin-bottom: 35px;
        }
        p{
          font-size: 13px;
          margin: 5px 0;
        }
      }
      .discuss__form{
        position: relative;
        h4{
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 30px;
        }
        .discuss__form__input{
          @include flex;
          flex-wrap: wrap;
          max-width: 770px;
          .discuss__form__item:first-child,
          .discuss__form__item:nth-child(2){
            width: 50%;
          }
          .discuss__form__item:last-child{
            width: 100%;
          }
          .discuss__form__item:first-child input,
          .discuss__form__item:nth-child(2) input{
            width: 370px;
          }
          .discuss__form__item:last-child input{
            width: 770px;
          }
          .discuss__form__item:first-child{
            padding-right: 15px;
          }
          .discuss__form__item:nth-child(2){
            padding-left: 15px;
          }
          .discuss__form__item{
            margin-bottom: 20px;
            input{
              border: none;
              padding: 15px 0;
              border-bottom: 1px solid $color-border-bottom;
              @include placeholder{
                color: $color-placeholder;
                opacity: 0.5;
              }
              &:focus{
                outline: none;
              }
            }
          }
        }
        button{
          border: none;
          padding: 0;
          background: transparent;
          position: absolute;
          bottom: 0;
          right: -5px;
          @include flex;
          p{
            font-size: 16px;
            font-weight: 400;
            padding-left: 10px;
            cursor: pointer;
          }
          &:focus{
            outline: none;
          }
        }
      }
      .discuss__info{
        margin-right: 0;
        padding: 20px 22px 0;
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i{
          margin-bottom: 20px;
        }
      }
    }
  }
}

.map{
  width: 100%;
  height: 215px;
  iframe{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1200px){
  .team{
    .container{
      .team__list{
        .team__image{
          .team__detail{

          }
        }
      }
    }
  }
  .discuss{
    .container{
      .discuss__list{
        .discuss__address{
          padding-left: 15px;
        }
        .discuss__form{
          .discuss__form__input{
            max-width: 710px;
            .discuss__form__item:first-child input,
            .discuss__form__item:nth-child(2) input,
            .discuss__form__item:last-child input{
              width: 340px;
            }
            .discuss__form__item:last-child input{
              width: 710px;
            }
          }
        }
        .discuss__info{
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .works{
    .works__list {
      .works__image {
        .works__detail {
          .detail__flow{
            .detail__image {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
  .team{
    .container{
      .team__list{
        .team__image{
          .team__detail{
            .team__description{
              padding: 0 10px;
              p {
                font-size: 13px;
                &:first-child{
                  margin-bottom: 0;
                }
                &:last-child{
                  margin-bottom: 10px;
                }
              }
            }
            .team__icon{
              li {
                width: 30px;
                height: 30px;
                line-height: 30px;
                i{
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  .product{
    .container{
      .product__list{
        .product__item{
          padding: 0 20px;
          h3{
            font-size: 45px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
  .discuss{
    .container{
      .discuss__list{
        justify-content: space-between;
        .discuss__address{
          padding-left: 0;
        }
        .discuss__form{
          .discuss__form__input{
            max-width: unset;
            .discuss__form__item:first-child input,
            .discuss__form__item:nth-child(2) input,
            .discuss__form__item:last-child input{
              width: 100%;
            }
            .discuss__form__item:last-child input{
              width: 100%;
            }
          }
        }
        .discuss__info{
          margin-left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .features {
    padding-bottom: 40px;
    height: auto;
    .container{
      padding: 0 15px;
      h2 {
        padding-top: 40px;
      }
      .features__icon {
        margin-bottom: 20px;
      }
      .features__content{
        flex-wrap: wrap;
        .features__item{
          width: 100%;
          padding: 10px 0;
          &:first-child{
            padding-top: 0;
          }
        }
      }
    }
    &__button {
      bottom: 10px;
    }
  }
  .works{
    .container{
      .works__content{
        h2{
          padding-top: 40px;
        }
        .works__icon {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 40px;
        }
      }
      .works__items {
        ul {
          li {
            margin: 0;
            a {
              padding: 5px 15px;
            }
          }
        }
      }
    }
    .works__list {
      .works__image {
        width: 50%;
      }
    }
  }
  .team{
    .container{
      padding-bottom: 80px;
      .team__content{
        h2{
          padding-top: 40px;
        }
        .team__icon{
          margin-bottom: 20px;
        }
        p{
          margin-bottom: 40px;
        }
      }
      .team__list{
        flex-wrap: wrap;
        .team__image{
          width: 50%;
          margin: 0;
          padding: 0 10px;
          &:first-child, &:nth-child(2){
            margin-bottom: 60px;
          }
          &:first-child, &:nth-child(3){
            padding-left: 0;
          }
          &:nth-child(2), &:last-child{
            padding-right: 0;
          }
          &:first-child .team__detail, &:nth-child(3) .team__detail{

          }
          .team__name{
            bottom: -50px;
          }
        }
      }
    }
  }
  .product{
    .container{
      .product__content{
        h2{
          padding-top: 40px;
        }
      }
      .product__list{
        flex-wrap: wrap;
        .product__item{
          width: 50%;
          margin-bottom: 60px;
          .product__image{
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .discuss{
    margin-bottom: 40px;
    .container{
      .discuss__content{
        h2{
          padding-top: 40px;
        }
        p {
          margin-bottom: 40px;
        }
      }
      .discuss__list{
        flex-wrap: wrap;
        .discuss__form, .discuss__address, .discuss__info{
          width: 100%;
        }
        .discuss__address{
          order: 2;
          max-width: unset;
          h4{
            margin-bottom: 20px;
          }
          margin-bottom: 20px;
        }
        .discuss__form{
          order: 1;
          margin: 0 0 20px 0;
          padding-bottom: 20px;
          button{
            right: 0;
          }
        }
        .discuss__info{
          order: 3;
          flex-direction: row;
          margin: 0;
          padding: 0;
          justify-content: unset;
          i{
            padding: 0 15px;
            &:first-child{
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .works{
    .container{
      .works__content{
        p {
          margin-bottom: 20px;
          font-size: 14px;
        }
      }
      .works__items {
        ul {
          margin-bottom: 20px;
          li {
            margin: 0;
            a {
              padding: 5px 10px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .product{
    .container{
      .product__list{
        .product__item{
          padding: 0 10px;
        }
      }
    }
  }
  .discuss{
    .container{
      .discuss__list{
        .discuss__form{
          .discuss__form__input{
            .discuss__form__item:first-child,
            .discuss__form__item:nth-child(2){
              width: 100%;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
}